<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.shop.mapper.IShopServiceImgMapper">

    <select id="get" resultType="ShopServiceImg">
		select * from shop_service_img where id=#{id}
	</select>

    <delete id="del">
		delete from shop_service_img where id = #{id}
	</delete>

    <select id="gets" resultType="ShopServiceImg">
        SELECT * FROM shop_service_img WHERE id IN
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
    </select>

    <sql id="maxLimit">
		limit 1000
	</sql>

    <delete id="dels">
        delete from shop_service_img where id in
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
        <include refid="maxLimit"></include>
    </delete>

    <delete id="delByCondition">
        delete from shop_service_img
        <include refid="where"></include>
    </delete>

    <sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="shopServiceId!=null">
				shop_service_id,
			</if>
			<if test="imgId!=null">
				img_id,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="shopServiceId!=null">
				#{shopServiceId},
			</if>
			<if test="imgId!=null">
				#{imgId},
			</if>
		</trim>

		)
	</sql>

    <!-- 注意检查非空和主键自增属性 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert
        into shop_service_img
        <include refid="insertList"></include>
    </insert>

    <update id="update">
        update shop_service_img
        <set>
            			<if test="shopServiceId != null ">
				shop_service_id=#{shopServiceId},
			</if>
			<if test="imgId != null ">
				img_id=#{imgId},
			</if>

        </set>
        where id = #{id}
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
        insert into shop_service_img
        <include refid="insertList"></include>
        ON DUPLICATE KEY
        UPDATE
        <trim suffixOverrides=",">
            			<if test="shopServiceId != null ">
				shop_service_id=values(shop_service_id),
			</if>
			<if test="imgId != null ">
				img_id=values(img_id),
			</if>

        </trim>
    </insert>

    <sql id="queryList">
		select id,shop_service_id,img_id,modify_time from
		shop_service_img
	</sql>

    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="AND">
            			<if test="id != null">
				AND id=#{id}
			</if>
			<if test="shopServiceId != null">
				AND shop_service_id=#{shopServiceId}
			</if>
			<if test="imgId != null">
				AND img_id=#{imgId}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>

        </trim>
    </sql>

    <select id="query" resultType="ShopServiceImg">
        <include refid="queryList"></include>
        <include refid="where"></include>
    </select>

    <select id="queryWithoutPage" resultType="ShopServiceImg">
        <include refid="queryList"></include>
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

    <select id="queryOne" resultType="ShopServiceImg">
        select * from shop_service_img
        <include refid="where"></include>
        limit 1
    </select>

    <select id="has" resultType="int">
        select 1 from shop_service_img
        <include refid="where"></include>
        limit 1
    </select>

    <select id="count" resultType="int">
        select count(*) from shop_service_img
        <include refid="where"></include>
    </select>

    <select id="getIds" resultType="long">
        select id from shop_service_img
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

</mapper>
