<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.shop.mapper.IShopSiteMapper">

	<select id="get" resultType="ShopSite">
		select * from shop_site where id=#{id}
	</select>

	<delete id="del">
		delete from shop_site where id = #{id}
	</delete>

	<select id="gets" resultType="ShopSite">
		SELECT * FROM shop_site WHERE id IN
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
	</select>

	<sql id="maxLimit">
		limit 1000
	</sql>

	<delete id="dels">
		delete from shop_site where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
		<include refid="maxLimit"></include>
	</delete>

	<sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="shopServiceId!=null">
				shop_service_id,
			</if>
			<if test="name!=null">
				name,
			</if>
			<if test="price!=null">
				price,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="shopServiceId!=null">
				#{shopServiceId},
			</if>
			<if test="name!=null">
				#{name},
			</if>
			<if test="price!=null">
				#{price},
			</if>
		</trim>

		)
	</sql>

	<!-- 注意检查非空和主键自增属性 -->
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert
		into shop_site
		<include refid="insertList"></include>
	</insert>

	<update id="update">
		update shop_site
		<set>
						<if test="shopServiceId != null ">
				shop_service_id=#{shopServiceId},
			</if>
			<if test="name != null ">
				name=#{name},
			</if>
			<if test="price != null ">
				price=#{price},
			</if>

		</set>
		where id = #{id}
	</update>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		<!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
		insert into shop_site
		<include refid="insertList"></include>
		ON DUPLICATE KEY
		UPDATE
		<trim suffixOverrides=",">
						<if test="shopServiceId != null ">
				shop_service_id=values(shop_service_id),
			</if>
			<if test="name != null ">
				name=values(name),
			</if>
			<if test="price != null ">
				price=values(price),
			</if>

		</trim>
	</insert>

	<sql id="queryList">
		select id,shop_service_id,name,price,create_time,modify_time from
		shop_site
	</sql>

	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND">
						<if test="id != null">
				AND id=#{id}
			</if>
			<if test="shopServiceId != null">
				AND shop_service_id=#{shopServiceId}
			</if>
			<if test="name != null">
				AND name=#{name}
			</if>
			<if test="price != null">
				AND price=#{price}
			</if>
			<if test="createTime != null">
				AND create_time=#{createTime}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>

		</trim>
	</sql>

	<select id="query" resultType="ShopSite">
		<include refid="queryList"></include>
		<include refid="where"></include>
	</select>

	<select id="queryWithoutPage" resultType="ShopSite">
		<include refid="queryList"></include>
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

	<select id="getIds" resultType="long">
		select id from shop_site
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

</mapper>
