<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.shop.mapper.IShopRatingMapper">

    <select id="get" resultType="ShopRating">
		select * from shop_rating where id=#{id}
	</select>

    <delete id="del">
		delete from shop_rating where id = #{id}
	</delete>

    <select id="gets" resultType="ShopRating">
        SELECT * FROM shop_rating WHERE id IN
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
    </select>

    <sql id="maxLimit">
		limit 1000
	</sql>

    <delete id="dels">
        delete from shop_rating where id in
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
        <include refid="maxLimit"></include>
    </delete>

    <delete id="delByCondition">
        delete from shop_rating
        <include refid="where"></include>
    </delete>

    <sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="shopId!=null">
				shop_id,
			</if>
			<if test="yearMonth!=null">
				year_month,
			</if>
			<if test="baseScore!=null">
				base_score,
			</if>
			<if test="serviceItemScore!=null">
				service_item_score,
			</if>
			<if test="customerCount!=null">
				customer_count,
			</if>
			<if test="customerEvaluateScore!=null">
				customer_evaluate_score,
			</if>
			<if test="coacherCount!=null">
				coacher_count,
			</if>
			<if test="coacherEvaluateScore!=null">
				coacher_evaluate_score,
			</if>
			<if test="congestionDegree!=null">
				congestion_degree,
			</if>
			<if test="score!=null">
				score,
			</if>
			<if test="level!=null">
				level,
			</if>
			<if test="evalutePrice!=null">
				evalute_price,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="shopId!=null">
				#{shopId},
			</if>
			<if test="yearMonth!=null">
				#{yearMonth},
			</if>
			<if test="baseScore!=null">
				#{baseScore},
			</if>
			<if test="serviceItemScore!=null">
				#{serviceItemScore},
			</if>
			<if test="customerCount!=null">
				#{customerCount},
			</if>
			<if test="customerEvaluateScore!=null">
				#{customerEvaluateScore},
			</if>
			<if test="coacherCount!=null">
				#{coacherCount},
			</if>
			<if test="coacherEvaluateScore!=null">
				#{coacherEvaluateScore},
			</if>
			<if test="congestionDegree!=null">
				#{congestionDegree},
			</if>
			<if test="score!=null">
				#{score},
			</if>
			<if test="level!=null">
				#{level},
			</if>
			<if test="evalutePrice!=null">
				#{evalutePrice},
			</if>
		</trim>

		)
	</sql>

    <!-- 注意检查非空和主键自增属性 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert
        into shop_rating
        <include refid="insertList"></include>
    </insert>

    <update id="update">
        update shop_rating
        <set>
            			<if test="shopId != null ">
				shop_id=#{shopId},
			</if>
			<if test="yearMonth != null ">
				year_month=#{yearMonth},
			</if>
			<if test="baseScore != null ">
				base_score=#{baseScore},
			</if>
			<if test="serviceItemScore != null ">
				service_item_score=#{serviceItemScore},
			</if>
			<if test="customerCount != null ">
				customer_count=#{customerCount},
			</if>
			<if test="customerEvaluateScore != null ">
				customer_evaluate_score=#{customerEvaluateScore},
			</if>
			<if test="coacherCount != null ">
				coacher_count=#{coacherCount},
			</if>
			<if test="coacherEvaluateScore != null ">
				coacher_evaluate_score=#{coacherEvaluateScore},
			</if>
			<if test="congestionDegree != null ">
				congestion_degree=#{congestionDegree},
			</if>
			<if test="score != null ">
				score=#{score},
			</if>
			<if test="level != null ">
				level=#{level},
			</if>
			<if test="evalutePrice != null ">
				evalute_price=#{evalutePrice},
			</if>

        </set>
        where id = #{id}
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
        insert into shop_rating
        <include refid="insertList"></include>
        ON DUPLICATE KEY
        UPDATE
        <trim suffixOverrides=",">
            			<if test="shopId != null ">
				shop_id=values(shop_id),
			</if>
			<if test="yearMonth != null ">
				year_month=values(year_month),
			</if>
			<if test="baseScore != null ">
				base_score=values(base_score),
			</if>
			<if test="serviceItemScore != null ">
				service_item_score=values(service_item_score),
			</if>
			<if test="customerCount != null ">
				customer_count=values(customer_count),
			</if>
			<if test="customerEvaluateScore != null ">
				customer_evaluate_score=values(customer_evaluate_score),
			</if>
			<if test="coacherCount != null ">
				coacher_count=values(coacher_count),
			</if>
			<if test="coacherEvaluateScore != null ">
				coacher_evaluate_score=values(coacher_evaluate_score),
			</if>
			<if test="congestionDegree != null ">
				congestion_degree=values(congestion_degree),
			</if>
			<if test="score != null ">
				score=values(score),
			</if>
			<if test="level != null ">
				level=values(level),
			</if>
			<if test="evalutePrice != null ">
				evalute_price=values(evalute_price),
			</if>

        </trim>
    </insert>

    <sql id="queryList">
		select id,shop_id,year_month,base_score,service_item_score,customer_count,customer_evaluate_score,coacher_count,coacher_evaluate_score,congestion_degree,score,level,evalute_price,modify_time from
		shop_rating
	</sql>

    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="AND">
            			<if test="id != null">
				AND id=#{id}
			</if>
			<if test="shopId != null">
				AND shop_id=#{shopId}
			</if>
			<if test="yearMonth != null">
				AND year_month=#{yearMonth}
			</if>
			<if test="baseScore != null">
				AND base_score=#{baseScore}
			</if>
			<if test="serviceItemScore != null">
				AND service_item_score=#{serviceItemScore}
			</if>
			<if test="customerCount != null">
				AND customer_count=#{customerCount}
			</if>
			<if test="customerEvaluateScore != null">
				AND customer_evaluate_score=#{customerEvaluateScore}
			</if>
			<if test="coacherCount != null">
				AND coacher_count=#{coacherCount}
			</if>
			<if test="coacherEvaluateScore != null">
				AND coacher_evaluate_score=#{coacherEvaluateScore}
			</if>
			<if test="congestionDegree != null">
				AND congestion_degree=#{congestionDegree}
			</if>
			<if test="score != null">
				AND score=#{score}
			</if>
			<if test="level != null">
				AND level=#{level}
			</if>
			<if test="evalutePrice != null">
				AND evalute_price=#{evalutePrice}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>

        </trim>
    </sql>

    <select id="query" resultType="ShopRating">
        <include refid="queryList"></include>
        <include refid="where"></include>
    </select>

    <select id="queryWithoutPage" resultType="ShopRating">
        <include refid="queryList"></include>
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

    <select id="queryOne" resultType="ShopRating">
        select * from shop_rating
        <include refid="where"></include>
        limit 1
    </select>

    <select id="has" resultType="int">
        select 1 from shop_rating
        <include refid="where"></include>
        limit 1
    </select>

    <select id="count" resultType="int">
        select count(*) from shop_rating
        <include refid="where"></include>
    </select>

    <select id="getIds" resultType="long">
        select id from shop_rating
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

</mapper>
