<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.shop.mapper.IShopVipCardMapper">

    <select id="get" resultType="ShopVipCard">
		select * from shop_vip_card where id=#{id}
	</select>

    <delete id="del">
		delete from shop_vip_card where id = #{id}
	</delete>

    <select id="gets" resultType="ShopVipCard">
        SELECT * FROM shop_vip_card WHERE id IN
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
    </select>

    <sql id="maxLimit">
		limit 1000
	</sql>

    <delete id="dels">
        delete from shop_vip_card where id in
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
        <include refid="maxLimit"></include>
    </delete>

    <sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="shopId!=null">
				shop_id,
			</if>
			<if test="cardStrategyId!=null">
				card_strategy_id,
			</if>
			<if test="cardName!=null">
				card_name,
			</if>
			<if test="price!=null">
				price,
			</if>
			<if test="count!=null">
				_count,
			</if>
			<if test="transferingCount!=null">
				transfering_count,
			</if>
			<if test="transferedCount!=null">
				transfered_count,
			</if>
			<if test="status!=null">
				_status,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="shopId!=null">
				#{shopId},
			</if>
			<if test="cardStrategyId!=null">
				#{cardStrategyId},
			</if>
			<if test="cardName!=null">
				#{cardName},
			</if>
			<if test="price!=null">
				#{price},
			</if>
			<if test="count!=null">
				#{count},
			</if>
			<if test="transferingCount!=null">
				#{transferingCount},
			</if>
			<if test="transferedCount!=null">
				#{transferedCount},
			</if>
			<if test="status!=null">
				#{status},
			</if>
		</trim>

		)
	</sql>

    <!-- 注意检查非空和主键自增属性 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert
        into shop_vip_card
        <include refid="insertList"></include>
    </insert>

    <update id="update">
        update shop_vip_card
        <set>
            			<if test="shopId != null ">
				shop_id=#{shopId},
			</if>
			<if test="cardStrategyId != null ">
				card_strategy_id=#{cardStrategyId},
			</if>
			<if test="cardName != null ">
				card_name=#{cardName},
			</if>
			<if test="price != null ">
				price=#{price},
			</if>
			<if test="count != null ">
				_count=#{count},
			</if>
			<if test="transferingCount != null ">
				transfering_count=#{transferingCount},
			</if>
			<if test="transferedCount != null ">
				transfered_count=#{transferedCount},
			</if>
			<if test="status != null ">
				_status=#{status},
			</if>

        </set>
        where id = #{id}
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
        insert into shop_vip_card
        <include refid="insertList"></include>
        ON DUPLICATE KEY
        UPDATE
        <trim suffixOverrides=",">
            			<if test="shopId != null ">
				shop_id=values(shop_id),
			</if>
			<if test="cardStrategyId != null ">
				card_strategy_id=values(card_strategy_id),
			</if>
			<if test="cardName != null ">
				card_name=values(card_name),
			</if>
			<if test="price != null ">
				price=values(price),
			</if>
			<if test="count != null ">
				_count=values(_count),
			</if>
			<if test="transferingCount != null ">
				transfering_count=values(transfering_count),
			</if>
			<if test="transferedCount != null ">
				transfered_count=values(transfered_count),
			</if>
			<if test="status != null ">
				_status=values(_status),
			</if>

        </trim>
    </insert>

    <sql id="queryList">
		select id,shop_id,card_strategy_id,card_name,price,_count,transfering_count,transfered_count,_status,create_time,modify_time from
		shop_vip_card
	</sql>

    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="AND">
            			<if test="id != null">
				AND id=#{id}
			</if>
			<if test="shopId != null">
				AND shop_id=#{shopId}
			</if>
			<if test="cardStrategyId != null">
				AND card_strategy_id=#{cardStrategyId}
			</if>
			<if test="cardName != null">
				AND card_name=#{cardName}
			</if>
			<if test="price != null">
				AND price=#{price}
			</if>
			<if test="count != null">
				AND _count=#{count}
			</if>
			<if test="transferingCount != null">
				AND transfering_count=#{transferingCount}
			</if>
			<if test="transferedCount != null">
				AND transfered_count=#{transferedCount}
			</if>
			<if test="status != null">
				AND _status=#{status}
			</if>
			<if test="createTime != null">
				AND create_time=#{createTime}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>

        </trim>
    </sql>

    <select id="query" resultType="ShopVipCard">
        <include refid="queryList"></include>
        <include refid="where"></include>
    </select>

    <select id="queryWithoutPage" resultType="ShopVipCard">
        <include refid="queryList"></include>
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

    <select id="queryOne" resultType="ShopVipCard">
        select * from shop_vip_card
        <include refid="where"></include>
        limit 1
    </select>

    <select id="getIds" resultType="long">
        select id from shop_vip_card
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

</mapper>
