spring:
  profiles:
    active:
      - dev

logging:
  path: logs

---
spring:
  profiles: dev
  redis:
    host: 192.168.120.3
    port: 6379
    database: 0
    pool:
      min-idle: 2

dber.shop:
  service:
    mysql:
      host: 192.168.120.3
      port: 3306
      database: dber_shop
      username: root
      password: 123456
      parameters: characterEncoding=utf8&rewriteBatchedStatements=true&autoReconnect=true
      initialSize: 1
      maxActive: 2
      minIdle: 1
      
      
